extends layout

block content
	p Welcome to New York Tone

	form( action="/nyttone",method="get")
		input(type="text", placeholder="Search Topic", name="searchterm")
		select(id="begindate",name="begindate")
			-for(var y=1851;y<=2016;++y){
			option(value = "#{y}") 
				p "#{y}"
			-}
		select(id="enddate",name="enddate")
			-for(var y=1851;y<=2016;++y){
			option(value = "#{y}", selected="selected") 
				p "#{y}"
			-}
		input(type="submit" ,value="Submit")
	
	
