body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/images/wb.jpg");
}

a {
  color: #00B7FF;
}

table{
	border-collapse: collapse;
	border: 1px solid black;
	padding: 10px;
	width: 100%;
	float: left;
}

tr {
	padding: 10px;
	border-bottom: 1px solid black;
	width: 75px;
	height: 50px;
}