body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/images/wb.jpg");
}

#canvaslocation{
	margin: auto;
}

.forum {
	clear: both
}
.vis-item.veryNegative {
	color: #9e2222;
	background-color: #9e2222;
}
.vis-item-content{
	color: black;
}
.vis-item.negative {
	color: #ff6a00;
	background-color: #ff6a00;
}
.vis-item.somewhatNegative {
	color: #c1ab2c;
	background-color: #c1ab2c;
}
.vis-item.veryPositive {
	color: #2fc12c;
	background-color: #2fc12c;
	
}
.vis-item.positive {
	color: #45c12c;
	background-color: #45c12c;
}
.vis-item.somewhatPositive {
	color: #68c12c;
	background-color: #68c12c;

}
a {
  color: #00B7FF;
}

table{
	border-collapse: collapse;
	border: 1px solid black;
	padding: 10px;
	width: 100%;
	float: left;
}

tr {
	padding: 10px;
	border-bottom: 1px solid black;
	width: 75px;
	height: 50px;
}